<div class="container-fluid andy-center">
    <div class="row">
        <div class="col-md-8 landing_welcome">
        </div>
        <div class="col-md-4" height="300">
          <h2 class="landing_welcome-align">Welcome to your page, <%=current_user.first_name %>!</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <h5>Link for adding new gift card</h5>
          </div>
            <div class="col-md-12">
              <h5>Link for logging use of existing gift card</h5>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h5>Upcoming expiring or recently added gift cards</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <h4>Search for specific gift card (this will be by retailer) or search below by category</h4>
        </div>
    </div>
    <div class="row landing_theme">
        <div class="col-md-4 landing_theme_search food-background">
          <h3>Food</h3>
        </div>
        <div class="col-md-4 landing_theme_search movies-background">
          <h3>Movies</h3>
        </div>
        <div class="col-md-4 landing_theme_search home_improvement-background">
          <h3>Home Improvement</h3>
        </div>
    </div>
    <div class="row landing_theme">
        <div class="col-md-4 landing_theme_search electronics-background">
          <h3>Electronics</h3>
        </div>
        <div class="col-md-4 landing_theme_search department_store-background">
          <h3>Department Store</h3>
        </div>
        <div class="col-md-4 landing_theme_search groceries-background">
          <h3>Groceries</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
          <h5>Static bottom part of the page with various links</h5>
        </div>
        <div class="col-md-6">
          <h5>Static bottom part of the page with various links</h5>
        </div>
    </div>
</div>
