<div class="page-header">
  <h3>Theme #<%= @theme.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Category</dt>
      <dd><%= @theme.category %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/themes" class="btn btn-primary">
        Back
      </a>
      <a href="/themes/<%= @theme.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_theme/<%= @theme.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
